In [2]:
import pandas as pd
import numpy as np

In [12]:
s1 = pd.Series(["a", "b", "c", "d"], dtype = "string")
s2 = pd.Series([2 , 4 , 8 , 16])
small_df = pd.DataFrame({"letter": s1, "number": s2})
small_df

  letter  number
0      a       2
1      b       4
2      c       8
3      d      16

In [4]:
# A boolean mask; True for rows we want to select.

mask = [False, True, True, False]
small_df[mask]

  letter  number
1      b       4
2      c       8

In [6]:
euk = pd.read_csv("eukaryotes.tsv ", sep = "\t")
my_types = {
    "Species": "string",
    "Kingdom": "string",
    "Class": "string",
    "Assembly status": "string",
    "Number of genes": "Int64",
    "Number of proteins": "Int64",
}

euk = pd.read_csv("eukaryotes.tsv", sep = "\t", dtype = my_types, na_values = ["-"])

In [18]:
euk["Size (Mb)"] > 500

0       False
1       False
2        True
3       False
4        True
        ...
8297    False
8298    False
8299    False
8300    False
8301    False
Name: Size (Mb), Length: 8302, dtype: bool

In [4]:
mask = euk["Size (Mb)"] > 500
mask

0       False
1       False
2        True
3       False
4        True
        ...
8297    False
8298    False
8299    False
8300    False
8301    False
Name: Size (Mb), Length: 8302, dtype: bool

In [22]:
# Get a new dataframe with the rows for which the comparison was true.

euk[mask]

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
2,Glycine max,Plants,Land Plants,979.046,35.1153,59847,71219,2010,Chromosome
4,Solanum lycopersicum,Plants,Land Plants,828.349,35.6991,31200,37660,2010,Chromosome
5,Hordeum vulgare,Plants,Land Plants,4006.120,44.3000,<NA>,<NA>,2019,Scaffold
7,Triticum aestivum,Plants,Land Plants,14547.300,46.0544,<NA>,<NA>,2018,Chromosome
9,Zea mays,Plants,Land Plants,2135.080,46.9109,49296,58411,2010,Chromosome
...,...,...,...,...,...,...,...,...,...
7494,Homo sapiens,Animals,Mammals,806.268,43.1000,<NA>,<NA>,2018,Contig
7495,Homo sapiens,Animals,Mammals,787.510,42.5000,<NA>,<NA>,2018,Contig
7501,Homo sapiens,Animals,Mammals,1387.180,43.4000,<NA>,<NA>,2018,Contig
7502,Homo sapiens,Animals,Mammals,1413.480,43.6000,<NA>,<NA>,2018,Contig
7507,Homo sapiens,Animals,Mammals,665.090,43.3000,<NA>,<NA>,2018,Contig

In [9]:
euk[euk["Size (Mb)"] > 500]

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
2,Glycine max,Plants,Land Plants,979.046,35.1153,59847,71219,2010,Chromosome
4,Solanum lycopersicum,Plants,Land Plants,828.349,35.6991,31200,37660,2010,Chromosome
5,Hordeum vulgare,Plants,Land Plants,4006.120,44.3000,<NA>,<NA>,2019,Scaffold
7,Triticum aestivum,Plants,Land Plants,14547.300,46.0544,<NA>,<NA>,2018,Chromosome
9,Zea mays,Plants,Land Plants,2135.080,46.9109,49296,58411,2010,Chromosome
...,...,...,...,...,...,...,...,...,...
7494,Homo sapiens,Animals,Mammals,806.268,43.1000,<NA>,<NA>,2018,Contig
7495,Homo sapiens,Animals,Mammals,787.510,42.5000,<NA>,<NA>,2018,Contig
7501,Homo sapiens,Animals,Mammals,1387.180,43.4000,<NA>,<NA>,2018,Contig
7502,Homo sapiens,Animals,Mammals,1413.480,43.6000,<NA>,<NA>,2018,Contig
7507,Homo sapiens,Animals,Mammals,665.090,43.3000,<NA>,<NA>,2018,Contig

In [14]:
# Find genomes belonging to a single species.

euk[euk["Species"] == "Penicillium expansum"]

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
834,Penicillium expansum,Fungi,Ascomycetes,32.3560,47.5,11060,11060,2014,Contig
4662,Penicillium expansum,Fungi,Ascomycetes,35.0461,48.2,<NA>,<NA>,2016,Scaffold
5568,Penicillium expansum,Fungi,Ascomycetes,31.4157,48.2,<NA>,<NA>,2014,Contig
5789,Penicillium expansum,Fungi,Ascomycetes,32.0650,47.6,11023,11023,2014,Contig
5927,Penicillium expansum,Fungi,Ascomycetes,31.0870,48.2,10089,10089,2014,Contig
6134,Penicillium expansum,Fungi,Ascomycetes,32.8965,47.3,<NA>,<NA>,2019,Contig

In [15]:
# Find all genomes that are not fish

euk[euk["Class"] != "Fishes"]

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
0,Emiliania huxleyi CCMP1516,Protists,Other Protists,167.676000,64.5000,38549,38554,2013,Scaffold
1,Arabidopsis thaliana,Plants,Land Plants,119.669000,36.0529,38311,48265,2001,Chromosome
2,Glycine max,Plants,Land Plants,979.046000,35.1153,59847,71219,2010,Chromosome
3,Medicago truncatula,Plants,Land Plants,412.924000,34.0470,37603,41939,2011,Chromosome
4,Solanum lycopersicum,Plants,Land Plants,828.349000,35.6991,31200,37660,2010,Chromosome
...,...,...,...,...,...,...,...,...,...
8297,Saccharomyces cerevisiae,Fungi,Ascomycetes,3.993920,38.2000,<NA>,<NA>,2017,Scaffold
8298,Saccharomyces cerevisiae,Fungi,Ascomycetes,0.586761,38.5921,155,298,1992,Chromosome
8299,Saccharomyces cerevisiae,Fungi,Ascomycetes,12.020400,38.2971,<NA>,<NA>,2018,Chromosome
8300,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.960900,38.2413,<NA>,<NA>,2018,Chromosome
8301,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.820700,38.2536,<NA>,<NA>,2018,Chromosome

In [18]:
# Find bird and fish genomes

euk[euk["Class"].isin(["Birds", "Fish"])]

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
34,Caenorhabditis briggsae,Animals,Roundworms,108.38400,37.6966,22736,21959,2002,Chromosome
35,Caenorhabditis elegans,Animals,Roundworms,100.28600,35.4317,46857,28420,2001,Complete Genome
36,Brugia malayi,Animals,Roundworms,93.65910,31.4990,11441,11472,2002,Scaffold
37,Aedes aegypti,Animals,Insects,1278.73000,38.1667,19339,28317,2017,Chromosome
38,Aedes albopictus,Animals,Insects,2247.31000,40.3999,38274,42912,2016,Contig
...,...,...,...,...,...,...,...,...,...
7783,Homo sapiens,Animals,Mammals,4.89807,44.6000,<NA>,<NA>,2017,Scaffold
7784,Homo sapiens,Animals,Mammals,2.09690,45.8000,<NA>,<NA>,2017,Scaffold
7789,Homo sapiens,Animals,Mammals,4.78084,44.6000,<NA>,<NA>,2017,Scaffold
7790,Homo sapiens,Animals,Mammals,4.79943,44.6000,<NA>,<NA>,2017,Scaffold
7793,Homo sapiens,Animals,Mammals,2.78964,34.8000,<NA>,<NA>,2017,Scaffold

In [19]:
# Find genomes for species starting with the letter Q
euk[euk[("Species")].str.startswith("Q")]

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
789,Quercus robur,Plants,Land Plants,814.3360,35.8000,<NA>,<NA>,2018,Scaffold
2400,Quercus lobata,Plants,Land Plants,1277.0100,35.3545,<NA>,<NA>,2016,Chromosome
3030,Quercus suber,Plants,Land Plants,953.2990,36.5000,57538,59614,2018,Scaffold
3431,Quillaja saponaria,Plants,Land Plants,248.9080,34.2000,<NA>,<NA>,2018,Contig
3874,Quambalaria eucalypti,Fungi,Basidiomycetes,26.2194,60.2000,<NA>,<NA>,2019,Contig
4690,Quercus robur,Plants,Land Plants,719.6020,31.7000,<NA>,<NA>,2018,Scaffold

In [20]:
# Making complex conditions
# FInd genomes between 100 and 1000 Mb

(euk["Size (Mb)"] > 100) & (euk["Size (Mb)"] < 1000)

0        True
1        True
2        True
3        True
4        True
        ...
8297    False
8298    False
8299    False
8300    False
8301    False
Name: Size (Mb), Length: 8302, dtype: bool

In [22]:
euk[(euk["Size (Mb)"] > 100) 
    & (euk["Size (Mb)"] < 1000)]

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
0,Emiliania huxleyi CCMP1516,Protists,Other Protists,167.676,64.5000,38549,38554,2013,Scaffold
1,Arabidopsis thaliana,Plants,Land Plants,119.669,36.0529,38311,48265,2001,Chromosome
2,Glycine max,Plants,Land Plants,979.046,35.1153,59847,71219,2010,Chromosome
3,Medicago truncatula,Plants,Land Plants,412.924,34.0470,37603,41939,2011,Chromosome
4,Solanum lycopersicum,Plants,Land Plants,828.349,35.6991,31200,37660,2010,Chromosome
...,...,...,...,...,...,...,...,...,...
7486,Homo sapiens,Animals,Mammals,957.418,43.3000,<NA>,<NA>,2018,Contig
7487,Homo sapiens,Animals,Mammals,981.782,43.6000,<NA>,<NA>,2018,Contig
7494,Homo sapiens,Animals,Mammals,806.268,43.1000,<NA>,<NA>,2018,Contig
7495,Homo sapiens,Animals,Mammals,787.510,42.5000,<NA>,<NA>,2018,Contig
7507,Homo sapiens,Animals,Mammals,665.090,43.3000,<NA>,<NA>,2018,Contig

In [23]:
# When we want to find values between two limits

euk[euk["Size (Mb)"].between(100, 1000)]

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
0,Emiliania huxleyi CCMP1516,Protists,Other Protists,167.676,64.5000,38549,38554,2013,Scaffold
1,Arabidopsis thaliana,Plants,Land Plants,119.669,36.0529,38311,48265,2001,Chromosome
2,Glycine max,Plants,Land Plants,979.046,35.1153,59847,71219,2010,Chromosome
3,Medicago truncatula,Plants,Land Plants,412.924,34.0470,37603,41939,2011,Chromosome
4,Solanum lycopersicum,Plants,Land Plants,828.349,35.6991,31200,37660,2010,Chromosome
...,...,...,...,...,...,...,...,...,...
7486,Homo sapiens,Animals,Mammals,957.418,43.3000,<NA>,<NA>,2018,Contig
7487,Homo sapiens,Animals,Mammals,981.782,43.6000,<NA>,<NA>,2018,Contig
7494,Homo sapiens,Animals,Mammals,806.268,43.1000,<NA>,<NA>,2018,Contig
7495,Homo sapiens,Animals,Mammals,787.510,42.5000,<NA>,<NA>,2018,Contig
7507,Homo sapiens,Animals,Mammals,665.090,43.3000,<NA>,<NA>,2018,Contig

In [26]:
# Find genomes that are not birds or fishes, or have low GC
# ~ means NOT

euk[~(euk["Class"].isin(["Birds", "Fishes"])) | (euk["GC%"] < 40)]

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
0,Emiliania huxleyi CCMP1516,Protists,Other Protists,167.676000,64.5000,38549,38554,2013,Scaffold
1,Arabidopsis thaliana,Plants,Land Plants,119.669000,36.0529,38311,48265,2001,Chromosome
2,Glycine max,Plants,Land Plants,979.046000,35.1153,59847,71219,2010,Chromosome
3,Medicago truncatula,Plants,Land Plants,412.924000,34.0470,37603,41939,2011,Chromosome
4,Solanum lycopersicum,Plants,Land Plants,828.349000,35.6991,31200,37660,2010,Chromosome
...,...,...,...,...,...,...,...,...,...
8297,Saccharomyces cerevisiae,Fungi,Ascomycetes,3.993920,38.2000,<NA>,<NA>,2017,Scaffold
8298,Saccharomyces cerevisiae,Fungi,Ascomycetes,0.586761,38.5921,155,298,1992,Chromosome
8299,Saccharomyces cerevisiae,Fungi,Ascomycetes,12.020400,38.2971,<NA>,<NA>,2018,Chromosome
8300,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.960900,38.2413,<NA>,<NA>,2018,Chromosome
8301,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.820700,38.2536,<NA>,<NA>,2018,Chromosome

In [29]:
# Filtering on columns with missing data

(euk["Number of genes"] > 10000).value_counts(dropna=False)

NaN      5930
True     1495
False     877
Name: Number of genes, dtype: Int64

In [30]:
# If we want to include genomes with an unknown number of genes
# Using fillna to replace missing data with a value bigger than cutoff

len(euk[euk["Number of genes"].fillna(20000) > 10000])

7425

In [31]:
# Size of all human genomes

euk[euk["Species"] == "Homo sapiens"]["Size (Mb)"]

44      3257.32000
4993    2863.65000
5059    2844.00000
5673    3251.72000
5721    6503.44000
           ...
7783       4.89807
7784       2.09690
7789       4.78084
7790       4.79943
7793       2.78964
Name: Size (Mb), Length: 210, dtype: float64

In [56]:
# What is the mean genome size for birds?

(
    euk[euk["Class"] == "Birds"] #find bird genomes
    ["Size (Mb)"] #get the size column
    .mean()
)

1131.3959991860468

In [40]:
# What is the median number of genes for genomes with GC < 50?

(
    euk[euk["GC%"] < 50]
    ["Number of genes"]
    .median()
)

12640.0

In [52]:
# How many genomes were sequenced for each kingdom in 2010?

euk[euk["Publication year"] == 2010]["Kingdom"].value_counts()

Animals     24
Fungi       22
Plants      13
Protists     6
Other        1
Name: Kingdom, dtype: Int64

In [73]:
# The largest number of proteins for fish genomes from 2017

(
    euk[
        (euk["Class"] == "Fishes") & (euk["Publication year"] == 2017)
    ] 
    ["Number of proteins"]
    .max()
)

71224

In [76]:
idx=(euk["Class"] == "Fishes") & (euk["Publication year"] == 2017)
euk.loc[idx, 'Number of proteins'].max()

71224

In [77]:
# If the data is messy: capitals and lower cases in "Class" column

euk[~(euk["Class"].str.lower().isin(["birds", "fishes"])) | (euk["GC%"] < 40)]

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
0,Emiliania huxleyi CCMP1516,Protists,Other Protists,167.676000,64.5000,38549,38554,2013,Scaffold
1,Arabidopsis thaliana,Plants,Land Plants,119.669000,36.0529,38311,48265,2001,Chromosome
2,Glycine max,Plants,Land Plants,979.046000,35.1153,59847,71219,2010,Chromosome
3,Medicago truncatula,Plants,Land Plants,412.924000,34.0470,37603,41939,2011,Chromosome
4,Solanum lycopersicum,Plants,Land Plants,828.349000,35.6991,31200,37660,2010,Chromosome
...,...,...,...,...,...,...,...,...,...
8297,Saccharomyces cerevisiae,Fungi,Ascomycetes,3.993920,38.2000,<NA>,<NA>,2017,Scaffold
8298,Saccharomyces cerevisiae,Fungi,Ascomycetes,0.586761,38.5921,155,298,1992,Chromosome
8299,Saccharomyces cerevisiae,Fungi,Ascomycetes,12.020400,38.2971,<NA>,<NA>,2018,Chromosome
8300,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.960900,38.2413,<NA>,<NA>,2018,Chromosome
8301,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.820700,38.2536,<NA>,<NA>,2018,Chromosome