In [4]:
import pandas as pd

In [2]:
pd.Series([1,1,2,3,5,8,13])

0     1
1     1
2     2
3     3
4     5
5     8
6    13
dtype: int64

In [4]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
conserved_sites = [24, 56, 132]
print(apes[0])

Homo sapiens

In [10]:
pd.Series ([3.1415, 2.7182, 1.4142])

0    3.1415
1    2.7182
2    1.4142
dtype: float64

In [51]:
s1 = pd.Series(["a", "b", "c", "d"], dtype = "string")
s2 = pd.Series([2, 4, 8, 16])
pd.DataFrame({"letter": s1, "number": s2})

  letter  number
0      a       2
1      b       4
2      c       8
3      d      16

In [21]:
df = pd.DataFrame({"letter": s1, "number": s2})
df.dtypes

letter     string
number    float64
dtype: object

In [20]:
#read_file.py
euk = pd.read_csv("eukaryotes.tsv ", sep = "\t")
euk
# print(euk) - gives slightly different output, might be harder to read

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
0,Emiliania huxleyi CCMP1516,Protists,Other Protists,167.676000,64.5,38549,38554,2013,Scaffold
1,Arabidopsis thaliana,Plants,Land Plants,119.669000,36.0529,38311,48265,2001,Chromosome
2,Glycine max,Plants,Land Plants,979.046000,35.1153,59847,71219,2010,Chromosome
3,Medicago truncatula,Plants,Land Plants,412.924000,34.047,37603,41939,2011,Chromosome
4,Solanum lycopersicum,Plants,Land Plants,828.349000,35.6991,31200,37660,2010,Chromosome
...,...,...,...,...,...,...,...,...,...
8297,Saccharomyces cerevisiae,Fungi,Ascomycetes,3.993920,38.2,-,-,2017,Scaffold
8298,Saccharomyces cerevisiae,Fungi,Ascomycetes,0.586761,38.5921,155,298,1992,Chromosome
8299,Saccharomyces cerevisiae,Fungi,Ascomycetes,12.020400,38.2971,-,-,2018,Chromosome
8300,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.960900,38.2413,-,-,2018,Chromosome
8301,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.820700,38.2536,-,-,2018,Chromosome

In [37]:
# Using file path to open a file

path_to_file = "C:/Users/Evgeniia/Desktop/Work/Data-Analysis/example_files/introduction/eukaryotes.tsv"
euk = pd.read_csv(path_to_file, delim_whitespace=True) #, sep = "\t")
euk

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
0,Emiliania huxleyi CCMP1516,Protists,Other Protists,167.676000,64.5,38549,38554,2013,Scaffold
1,Arabidopsis thaliana,Plants,Land Plants,119.669000,36.0529,38311,48265,2001,Chromosome
2,Glycine max,Plants,Land Plants,979.046000,35.1153,59847,71219,2010,Chromosome
3,Medicago truncatula,Plants,Land Plants,412.924000,34.047,37603,41939,2011,Chromosome
4,Solanum lycopersicum,Plants,Land Plants,828.349000,35.6991,31200,37660,2010,Chromosome
...,...,...,...,...,...,...,...,...,...
8297,Saccharomyces cerevisiae,Fungi,Ascomycetes,3.993920,38.2,-,-,2017,Scaffold
8298,Saccharomyces cerevisiae,Fungi,Ascomycetes,0.586761,38.5921,155,298,1992,Chromosome
8299,Saccharomyces cerevisiae,Fungi,Ascomycetes,12.020400,38.2971,-,-,2018,Chromosome
8300,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.960900,38.2413,-,-,2018,Chromosome
8301,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.820700,38.2536,-,-,2018,Chromosome

In [39]:
# Without tab separation
euk = pd.read_csv("eukaryotes.tsv")
euk

     Species\tKingdom\tClass\tSize (Mb)\tGC%\tNumber of genes\tNumber of proteins\tPublication year\tAssembly status
0     Emiliania huxleyi CCMP1516\tProtists\tOther Pr...
1     Arabidopsis thaliana\tPlants\tLand Plants\t119...
2     Glycine max\tPlants\tLand Plants\t979.046\t35....
3     Medicago truncatula\tPlants\tLand Plants\t412....
4     Solanum lycopersicum\tPlants\tLand Plants\t828...
...                                                 ...
8297  Saccharomyces cerevisiae\tFungi\tAscomycetes\t...
8298  Saccharomyces cerevisiae\tFungi\tAscomycetes\t...
8299  Saccharomyces cerevisiae\tFungi\tAscomycetes\t...
8300  Saccharomyces cerevisiae\tFungi\tAscomycetes\t...
8301  Saccharomyces cerevisiae\tFungi\tAscomycetes\t...

[8302 rows x 1 columns]

In [45]:
euk.dtypes

Species                object
Kingdom                object
Class                  object
Size (Mb)             float64
GC%                    object
Number of genes        object
Number of proteins     object
Publication year        int64
Assembly status        object
dtype: object

In [47]:
# Specify that several columns (Species, Kingdom, Class, Assembly) should be stored as strings. 

my_types = {
    "Species": "string",
    "Kingdom": "string",
    "Class": "string",
    "Assembly status": "string",
}

euk = pd.read_csv("eukaryotes.tsv", sep = "\t", dtype = my_types)
euk.dtypes

Species                string
Kingdom                string
Class                  string
Size (Mb)             float64
GC%                    object
Number of genes        object
Number of proteins     object
Publication year        int64
Assembly status        string
dtype: object

In [48]:
# Looking at the last few rows in the dataframe.

euk.tail()

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
8297,Saccharomyces cerevisiae,Fungi,Ascomycetes,3.993920,38.2,-,-,2017,Scaffold
8298,Saccharomyces cerevisiae,Fungi,Ascomycetes,0.586761,38.5921,155,298,1992,Chromosome
8299,Saccharomyces cerevisiae,Fungi,Ascomycetes,12.020400,38.2971,-,-,2018,Chromosome
8300,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.960900,38.2413,-,-,2018,Chromosome
8301,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.820700,38.2536,-,-,2018,Chromosome

In [49]:
# How to tell pandas that the dash symbol means missing data.

euk = pd.read_csv("eukaryotes.tsv", sep = "\t", dtype = my_types, na_values = ["-"])
euk.tail()

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
8297,Saccharomyces cerevisiae,Fungi,Ascomycetes,3.993920,38.2000,NaN,NaN,2017,Scaffold
8298,Saccharomyces cerevisiae,Fungi,Ascomycetes,0.586761,38.5921,155.0,298.0,1992,Chromosome
8299,Saccharomyces cerevisiae,Fungi,Ascomycetes,12.020400,38.2971,NaN,NaN,2018,Chromosome
8300,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.960900,38.2413,NaN,NaN,2018,Chromosome
8301,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.820700,38.2536,NaN,NaN,2018,Chromosome

In [50]:
euk.dtypes

Species                string
Kingdom                string
Class                  string
Size (Mb)             float64
GC%                   float64
Number of genes       float64
Number of proteins    float64
Publication year        int64
Assembly status        string
dtype: object

In [52]:
# Pandas assumes that any numerical column with missing data must be floating point (like "Number of genes", "Number of proteins").
# We're adding these columns to the dtype dictionary.

my_types = {
    "Species": "string",
    "Kingdom": "string",
    "Class": "string",
    "Assembly status": "string",
    "Number of genes": "Int64",
    "Number of proteins": "Int64",
}

euk = pd.read_csv("eukaryotes.tsv", sep = "\t", dtype = my_types, na_values = ["-"])
euk.dtypes

Species                string
Kingdom                string
Class                  string
Size (Mb)             float64
GC%                   float64
Number of genes         Int64
Number of proteins      Int64
Publication year        int64
Assembly status        string
dtype: object

In [53]:
# How to get more information about the data frame.
# No missing values in the "Publication year" column, that's why "int64" has a lowercase i.

euk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8302 entries, 0 to 8301
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Species             8302 non-null   string
 1   Kingdom             8302 non-null   string
 2   Class               8302 non-null   string
 3   Size (Mb)           8302 non-null   float64
 4   GC%                 7895 non-null   float64
 5   Number of genes     2372 non-null   Int64
 6   Number of proteins  2371 non-null   Int64
 7   Publication year    8302 non-null   int64
 8   Assembly status     8302 non-null   string
dtypes: Int64(2), float64(2), int64(1), string(4)
memory usage: 600.1 KB

In [75]:
# Descriptive statistics for all the numerical columns.

euk.describe()

,Size (Mb),GC%,Number of genes,Number of proteins,Publication year
count,8302.000000,7895.000000,2372.000000,2371.000000,8302.000000
mean,401.918437,43.230469,15098.307336,17137.252636,2015.849313
std,1111.538289,7.998250,11505.437961,14735.085888,2.924305
min,0.011236,3.100000,3.000000,3.000000,1992.000000
25%,19.249775,38.219700,7361.500000,7010.500000,2015.000000
50%,39.559700,42.700000,11998.500000,12051.000000,2017.000000
75%,258.848000,49.000000,18303.500000,21671.000000,2018.000000
max,32396.400000,73.500000,119453.000000,123467.000000,2019.000000

In [6]:
type(euk)

pandas.core.frame.DataFrame

In [77]:
len(euk)

8302

In [18]:
# How to change column names.

my_types = {
    "Species": "string", "Kingdom": "string", "Class": "string", "Assembly status": "string", "Number of genes": "Int64", "Number of proteins": "Int64",
}

my_names = [
    "species", "kingdom", "class", "size", "gc", "genes", "proteins", "year", "status"
]

pd.read_csv(
    "eukaryotes.tsv",
    sep = "\t",
    dtype = my_types,
    na_values = ["-"],
    #header = 0,
    names = my_names,
).head()

,species,kingdom,class,size,gc,genes,proteins,year,status
0,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
1,Emiliania huxleyi CCMP1516,Protists,Other Protists,167.676,64.5,38549,38554,2013,Scaffold
2,Arabidopsis thaliana,Plants,Land Plants,119.669,36.0529,38311,48265,2001,Chromosome
3,Glycine max,Plants,Land Plants,979.046,35.1153,59847,71219,2010,Chromosome
4,Medicago truncatula,Plants,Land Plants,412.924,34.047,37603,41939,2011,Chromosome

In [16]:
# How to change column names, v2.

my_types = {
    "Species": "string", "Kingdom": "string", "Class": "string", "Assembly status": "string", "Number of genes": "Int64", "Number of proteins": "Int64",
}

my_names = [
    "species", "kingdom", "class", "size", "gc", "genes", "proteins", "year", "status"
]

df = pd.read_csv(
    "eukaryotes.tsv",
    sep = "\t",
    dtype = my_types,
    na_values = ["-"],
)

df.columns = my_names
df.head()

,species,kingdom,class,size,gc,genes,proteins,year,status
0,Emiliania huxleyi CCMP1516,Protists,Other Protists,167.676,64.5000,38549,38554,2013,Scaffold
1,Arabidopsis thaliana,Plants,Land Plants,119.669,36.0529,38311,48265,2001,Chromosome
2,Glycine max,Plants,Land Plants,979.046,35.1153,59847,71219,2010,Chromosome
3,Medicago truncatula,Plants,Land Plants,412.924,34.0470,37603,41939,2011,Chromosome
4,Solanum lycopersicum,Plants,Land Plants,828.349,35.6991,31200,37660,2010,Chromosome

In [15]:
df = pd.read_csv(
    "eukaryotes.tsv",
    sep = "\t",
    dtype = {"Species": "string", "Kingdom": "string", "Class": "string", "Assembly status": "string", "Number of genes": "Int64", "Number of proteins": "Int64"},
    na_values = ["-"],
)

df = df.rename(columns={"Species": "species", "Kingdom": "kingdom", "Class": "class", "Size (Mb)": "size"})

# Or rename the existing DataFrame (rather than creating a copy)
# df.rename(columns={"Species": "species", "Kingdom": "kingdom", "Class": "class", "Size (Mb)": "size"}, inplace=True)

df.head()

,species,kingdom,class,size,GC%,Number of genes,Number of proteins,Publication year,Assembly status
0,Emiliania huxleyi CCMP1516,Protists,Other Protists,167.676,64.5000,38549,38554,2013,Scaffold
1,Arabidopsis thaliana,Plants,Land Plants,119.669,36.0529,38311,48265,2001,Chromosome
2,Glycine max,Plants,Land Plants,979.046,35.1153,59847,71219,2010,Chromosome
3,Medicago truncatula,Plants,Land Plants,412.924,34.0470,37603,41939,2011,Chromosome
4,Solanum lycopersicum,Plants,Land Plants,828.349,35.6991,31200,37660,2010,Chromosome

In [21]:
# To extract a single column

euk["Size (Mb)"]

0       167.676000
1       119.669000
2       979.046000
3       412.924000
4       828.349000
           ...
8297      3.993920
8298      0.586761
8299     12.020400
8300     11.960900
8301     11.820700
Name: Size (Mb), Length: 8302, dtype: float64